<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <div class="main">
      <nav>
      <ul>
        <li><a href="/editor">Editor</a></li>
        <li><a href="/player">Player</a> </li>
      </ul>
      </nav>

    </div>
  </body>
</html>
