<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1 id="editor-player"><%= title %></h1>

<h2>Se vuoi giocare su smartphone inquadra il codice qr</h2>

<h3>Altrimenti clicca su <a href="/choice" id="prosegui">prosegui</a></h3>



</body>
</html>