  body{
    background-color: lightgreen;
    text-align: center;
    font-size: 18px;
    margin: 88px 122px 0;
    font-size: 18px;
  }

  h4{
    font-weight: normal;
  }

  .main{
    display: inline;
    margin: 18px auto;
  }

  ul{
    padding-left: 26px;
    padding-bottom: 12px;
  }

  li{
    display: inline-block;
    padding-right: 62px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    opacity: .7;
    }

  input[type="submit"]{
    margin-top:20px;
    display: inline;

  }


  #prosegui{
    color: blue;
  }

  #prosegui:hover{
    color: white;
    opacity: 0.9;
  }