<body>

<mat-toolbar>
  <mat-toolbar-row>
    <span class="span">Crea la tua squadra</span>
  </mat-toolbar-row>
</mat-toolbar>

<h1>Seleziona la tua fascia di età</h1>

<div class="select">
  <mat-radio-group >
    <mat-radio-button value="1">7-10</mat-radio-button>
    <mat-radio-button value="2">11-14</mat-radio-button>
    <mat-radio-button value="2">15-17</mat-radio-button>
  </mat-radio-group>

  <br>
  <h1>Seleziona il numero di partecipanti</h1>
  <mat-radio-group>
    <mat-radio-button value="1">Individual</mat-radio-button>
    <mat-radio-button value="2">Gruppo (2-5 persone)</mat-radio-button>
    <mat-radio-button value="2">Classe (15-20 persone)</mat-radio-button>
  </mat-radio-group>

</div>
<br>
<div class="buttonInit">
<button id="buttonInit" mat-raised-button color="primary" routerLink="/">Inizia</button>
</div>

</body>
