<mat-toolbar>
  <mat-toolbar-row>
    <span class="span">Crea la tua squadra</span>
  </mat-toolbar-row>
</mat-toolbar>


<div class="mainAge">
  <h3>Seleziona la tua fascia di età</h3>
    <input type="radio">7-10
    <input type="radio">11-14
    <input type="radio">15-18

  <h3>Seleziona il numero di partecipanti</h3>
    <input type="radio">Individuale
    <input type="radio">Gruppo
    <input type="radio">Classe
  <br>

  <button (click)="onSubmit()">Inizia</button>
</div>

<p>{{ DataButton }}</p>



