@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

mat-toolbar{
  background-color: darkblue;
  font-family: 'Langar', 'cursive';
}
.span{
  margin: auto;
  color: white;
  font-family: 'Langar', 'cursive';
  font-size: xx-large;
}

.mainAge{
  margin: auto;
  text-align: center;
}

div{
  align-content: center;
}


#submit{
  align-content: center;
  margin-top: 10px;
}
